body {
  background-color: black;
  color: white;
  font-size: 30px;
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table td {
  border: 1px solid white;
  padding: 5px;
  text-align: center;
}

.orange {
  background-color: orange;
}

.addNumberBut {
  height: 50px;
  width: 260px;
  font-size: 20px;
  color: white;
  background-color: orange;
  margin: 30px 0;
  border: 1px solid white;
}
